<article class="*:py-2 py-12 flex gap-4 items-center animation-go-text h-fit">
    <p class="text-5xl text-end w-1/2 text-white font-bold">50 años</p>
    <div class="h-20 w-[2px] rounded-xl shadow bg-black"></div>
    <p class="text-4xl w-1/2 max-w-lg text-pretty font-normal text-white">
        <slot>
            {"Ofreciendo estilo y calidad en calzado."}
        </slot>
    </p>
</article>
