---
import { Facebook, Instagram, Linkedin, Menu } from "react-feather";
interface Props {
  socialMedia?: Element[];
  urls?: string[];
  logoUrl?: string;
}
const {
  socialMedia = [Facebook, Instagram, Linkedin],
  urls = ["Eventos", "Promociones", "Locales", "Contáctanos"],
  logoUrl = "https://canaveral.com.co/wp-content/uploads/2024/10/logo-cana.jpeg",
} = Astro.props;
---

<header>
  <div class="flex justify-between md:justify-evenly p-4">
    <!-- logo -->
    <img
      class="w-28 lg:w-62"
      src={logoUrl}
      alt="logo de la pagina web provicional"
    />
    <!-- menu para mobiles -->
    <nav class="lg:hidden flex items-center">
      <button class="rounded bg-slate-400/20 p-1.5 cursor-pointer">
        <Menu className="text-primary size-6" />
      </button>
    </nav>
    <!-- menu inicial -->
    <ul
      class="hidden lg:flex items-center justify-center gap-8 list-none text-lg font-medium"
    >
      {
        urls &&
          urls.map((enlace) => (
            <li>
              <a
                class="capitalize hover:text-primary transition duration-300"
                href={enlace.toLowerCase()}
              >
                {enlace}
              </a>
            </li>
          ))
      }
    </ul>
    <!-- botones de redes -->
    <div
      class="flex items-center justify-center gap-4 lg:gap-8 list-none *:border *:md:border-2 *:border-primary *:p-0.5 *:md:p-1 *:rounded-full"
    >
      {
        socialMedia &&
          socialMedia.map((MyIcon: any) => (
            <a class="hover:scale-110 transition duration-300" href="facebook">
              {
                <MyIcon
                  className="text-primary p-0.5 size-4 md:size-5 lg:size-6 transition"
                  strokeWidth={2}
                />
              }
            </a>
          ))
      }
    </div>
  </div>
</header>
